---
layout: layouts/base
---
<h1 class="page-title">Do I need bunting today?</h1>
<div class="page-content">
  <span class="answer">
    {% if bank_holidays.bunting %} 
      Yes!
    {% else %}
      No.
    {% endif %}
  </span>
  {% if bank_holidays.bankHoliday %}
    {% if bank_holidays.bunting %}
      <span class="subtext">If you're in {{ bank_holidays.buntingLocations }}</span>
    {% else %}
      <span class="subtext">Today is a bank holiday in {{ bank_holidays.bankHolidayLocations }}, but you don't need bunting </span>
    {% endif %}
  {% else %}
    <span class="subtext">Today isn't a bank holiday in the UK</span>
  {% endif %}
</div>
